# Virtual environments
.venv/
.venv_win/
.venv_cuda/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset & large files
data/

# Large zip archives
*.zip

# YOLO cache files
*.cache

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# YOLO output at project root
runs/

# Logs
*.log
train_log.txt
